@charset "UTF-8";
.primary_header {
	width: 100%;
	background-color: #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 90px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
}
.secondary_header {
	width: 100%;
	padding-top: 300px;
	padding-bottom: 500px;
	background-color: #2d2e30;;
	clear: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
a{
	text-decoration: none;
	color: white;
}
.title{
	color: white;
}

.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	font-size: 25px;
	color: #000000;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 50%;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}

.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFFFF;
	letter-spacing: 2px;
}




#menu {
}
